
.parent{
    background-color: moccasin;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
}
.parent2{
    background-color: moccasin;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
}

#about_meheader{
    color: midnightblue;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#about_metext{
    color: midnightblue;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#projects_header{
    color:rgb(9, 87, 48);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#table_one{
    color: midnightblue;
    width:90%
}
th{
    border: 3px solid whitesmoke;
    padding: 10px;
    color:rgb(9, 87, 48);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
td{
    border: 3px solid whitesmoke;
    padding:10px;
    font-size: 20px;
    color: rgb(9, 87, 48);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
    border: 3px solid whitesmoke;
}
