.main{
    background-color: #c8e6d4;
    padding-right: 50px;
}
.about{
    padding: 50px;
    padding-top: 100px;
}
.about-me{
    text-align: center;
}
.img{
    border-radius: 50%;
    padding-top: 25%;
    padding-right: 25%;
    padding-left: 25%;

}
.name{
    justify-content: center;
    text-align: center;
    padding-top: 25%;
}