.main{
    background-color: #c8e6d4;
    padding-right: 50px;
}
.about{
    padding: 50px;
    padding-top: 50px;
}
.about-me{
    text-align: center;
}
.img{
    border-radius: 50%;
    padding-top: 50px;
    padding-right: 25%;
    padding-left: 25%;

}
.name{

    text-align: center;
    padding-top: 20%;
}